<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3>Login</h3>

    <label for="email">Email</label>
    <input
      type="text"
      formControlName="email"
      pInputText
      name="email"
      placeholder="Enter email"
    />
    <div
      *ngIf="f['email'].touched && !f['email'].valid"
      class="invalid-controls"
    >
      <span *ngIf="f['email'].errors?.['required']">Email is required.</span>
      <span *ngIf="f['email'].errors?.['email']">Invalid Email.</span>
    </div>
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      name="password"
      pInputText
      placeholder="Password"
    />
    <div
      *ngIf="f['password'].touched && !f['password'].valid"
      class="invalid-controls"
    >
      <span *ngIf="f['password'].errors?.['required']"
        >Password is required.</span
      >
    </div>
    <p class="mt-3">
      New to Web? <a [routerLink]="['/auth/sign-up']">Sign Up Here!</a>
    </p>
    <button
      type="submit"
      class="btn btn-primary justify-content-md-center"
      [disabled]="!loginForm.valid"
    >
      Submit
    </button>
  </form>
